header{
    background-color: lightgrey;
    height: 100px;
    animation-name: slide-header;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    z-index: 3;
    width: 100%;
}
header .header-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .header-content .header-right{
    padding-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@keyframes slide-header{
    from {margin-top: -100px; }
    to {margin-top: 0; }
}
header .header-content .header-right nav logo{
    color: white;
    background: orange;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
}
header .header-content .header-right .notification img{
    padding-top: 4px;
    opacity: 0.5;  
}
header .header-content .header-right .notification img:hover{
    opacity: 1;
}