body{
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    font-family: "Times New Roman", Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

main .main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}