#menuToggle
{
  display: inline-block;
  position: relative;
  z-index: 3;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: white;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -7px;

  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menu
{
  display: none;
  position: absolute;
  width: 200px;
  margin-left: -300px;
  padding: 50px;
  padding-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 1px solid lightgrey;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu .menu-header {
  font-size: 22px;
  color: darkgray;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu li:hover{
    background-color: lightgrey;
}

#menu ul:first-child:hover{
    background-color: aqua;
}
/*
#menu li:hover{
    background-color: lightgrey;
}
*/

#menuToggle input:checked ~ ul
{
  display: block;
}
