aside{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
aside .list-of-messages{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    width: 20em;
}
aside .list-of-messages .message-block{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
aside .list-of-messages .message-block .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px;
}
aside .list-of-messages .message-block .message-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}
aside .list-of-messages .message-block .message-info p{
    margin: 0;
}
aside .list-of-messages .message-block .message-info .message-header{
    margin-bottom: 5px;
    font-size: 25px;
    font-family: serif;
}
aside .list-of-messages #error{
    background-color: #CC615A;
    opacity: 0.9;
}
aside .list-of-messages #success{
    background-color:#77B676;
    opacity: 0.9;
}
aside .list-of-messages #warning{
    background-color: #FAA045;
    opacity: 0.9;
    animation: warning 0s 1s forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
    height: 0;
}
@keyframes warning {
    to   {
        height: inherit;
        visibility: visible; 
    }
}
